/* center content max width */
$max-width-center: 40rem;

/* top nav height */
$height-top-nav: 4rem;

/* homepage top margin */
$margin-top-default: 20vh;

/* footer margin */
$margin-footer: 1rem 0;

/* article title margin */
$margin-title: 1rem;

/* defalut article line height */
$line-height-article-default: 2;
