@import "./shiki.scss";
@import "./variables.scss";
@import "./mixins.scss";

/* Article Margins */
$margin-article: (
  h1: 2em,
  h2: 1em,
  h3: 1.4em,
  h4: 1.3em,
  h5: 1.2em,
  h6: 1.1em,
  p: 0.618em
);

/* Article Font Sizes */
$fontsize-article: (
  h1: 2rem,
  h2: 1.5rem,
  h3: 1.31rem,
  h4: 1.17rem,
  h5: 1.08rem,
  h6: 1rem,
  p: 1rem
);

/* Article Line Height */
$line-height-article: (
);

@include layout-3parts();

article {
  .title {
    text-align: center;
  }

  line-height: $line-height-article-default;

  @each $tag in map-keys($margin-article) {
    #{$tag} {
      margin: map-get($margin-article, $tag) 0;
    }
  }

  @each $tag in map-keys($fontsize-article) {
    #{$tag} {
      font-size: map-get($fontsize-article, $tag);
    }
  }

  @each $tag in map-keys($line-height-article) {
    #{$tag} {
      line-height: map-get($line-height-article, $tag);
    }
  }

  p {
    -webkit-hyphens: auto;
    hyphens: auto;
    text-align: justify;
  }

  a {
    color: var(--color-contrast-higher);
    cursor: pointer;
    text-decoration: underline var(--color-contrast-medium);
    transition: all 0.5s ease;
  
    &:visited {
      text-decoration: underline var(--color-contrast-medium);
    }
  
    &:hover {
      color: var(--color-primary-rgba);
      text-decoration: underline var(--color-primary-rgba);
    }
  }

  pre.astro-code {
    padding: 0.5em 1em;
    border-radius: 0.5em;
  }

  img {
    max-width: 100%;
    margin: 0 auto;
  }
}
