---
import Comments from "../Comments.vue";
import { PostSchema } from "@/scripts/posts";

interface Props {
  frontmatter: any;
}

const { frontmatter } = Astro.props as Props;
const data = PostSchema.parse(frontmatter);

const metaInfo = [
  {
    icon: "i-ph-clock-clockwise",
    title: "published time",
    text: new Date(data.publishedTime).toLocaleDateString("zh-CN", {
      year: "numeric",
      month: "2-digit",
      day: "2-digit",
    }),
  },
  {
    icon: "i-ph-git-commit",
    title: "commit hash",
    text: __COMMIT_HASH_SHORT__,
  },
]
---

<article font-serif class="article-style">
  <h1 class="title" text-3xl text-center font-bold mt-24 print:mt-36 mb-16>{data.title}</h1>
  <slot />
  {
    data.features.metaInfo && (
      <section class="metainfo font-mono text-sm text-contrast-medium mt-16 flex flex-justify-between print:display-none">
        {
          metaInfo.map(({ icon, title, text }) => (
            <div class="flex items-center" title={title}>
              <span class={icon} mr-1 />
              <span>{text}</span>
            </div>
          ))
        }
      </section>
    )
  }
</article>

{
  data.features.comments && (
    <section class="comments" my-20 print:display-none>
      <Comments client:idle />
    </section>
  )
}

<style lang="scss" is:global>
  .article-style {
    line-height: 1.7em;
    text-align: justify;

    // indent bewteen paragraphs
    p + p {
      text-indent: 2em;
    }

    // a tag (link) styles
    a {
      --at-apply: underline underline-contrast-medium/40;
      --at-apply: ease duration-300;
      &:hover {
        --at-apply: color-primary underline-primary/60;
      }
    }

    // ul styles
    ul {
      padding-left: 2em;
      list-style-type: disc;
      li {
        line-height: 1.6em;
      }
    }

    // footnotes styles
    .footnotes {
      --at-apply: text-sm;
      border-top: 1px solid var(--color-contrast-high);
      margin-top: 4rem;

      & > ol {
        padding-left: 2em;
        margin-top: 0.8rem;
        list-style-type: decimal;

        [id^="user-content-fn-"] {
          line-height: 2em;
        }
      }

      // footnote label styles
      #footnote-label {
        display: none;
      }
    }

    // footnote reference styles
    a[aria-describedby="footnote-label"] {
      --at-apply: font-mono select-none decoration-none;
      &:before {
        content: "[";
      }
      &:after {
        content: "]";
      }
    }
  }

  code {
    --at-apply: font-mono bg-contrast-low px-1 my-0.5 rounded-sm text-sm;
  }
</style>
