---
import BaseLayout from "@/layouts/BaseLayout.astro";
import MetaInfo from "@/components/MetaInfo.astro";
import SideNav from "@/components/SideNav.astro";
---

<BaseLayout>
  <!-- header meta info -->
  <MetaInfo slot="head" />

  <flex class="center-content" items-center h-full>
    <main mx-auto pb-40>
      <h1 text="center 4xl" font-mono leading-loose>404</h1>
      <h1 text="center 4xl" font-mono leading-loose>Page Not Found</h1>
    </main>
  </flex>
</BaseLayout>
