---
import config from "@config";
---

<div class="footer">
  <div set:html={config.footer.copyright} />
</div>

<style lang="scss">
  @import "../styles/variables.scss";
  .footer {
    margin: $margin-footer;
    line-height: $line-height-article-default;
    color: var(--color-contrast-high);
  }
</style>
