---
import config from "@config";

const nav = config.nav;
---

<nav>
  {nav.map((page) => <a href={page.uri}>{page.name}</a> <span class="dot">·</span>)}
</nav>

<style lang="scss">
  a {
    display: inline-block;
    text-decoration: none;
    color: var(--color-contrast-high);
  }

  .dot:not(:last-child) {
    display: inline-block;
    margin: 0 0.5rem;
    color: var(--color-contrast-high);
  }

  .dot:last-child {
    display: none;
  }
</style>
