---
import config from "@config";
import Nav from "@/components/Nav.astro";

const brand = config.base.brand;
---

<div class="top-nav">
  <a class="brand" href="/">
    {brand.type === "text" && <div set:html={brand.text} />}
    {brand.type === "svg" && <img src={brand.svg} alt="brand" />}
  </a>
  <div><Nav /></div>
</div>

<style lang="scss">
  @import "../styles/variables.scss";

  .top-nav {
    display: flex;
    justify-content: space-between;
    height: $height-top-nav;
    align-items: center;

    a {
      color: var(--color-contrast-high);
      text-decoration: none;

      img {
        $padding: 0.75rem;
        height: #{$height-top-nav - $padding * 2};
        padding: $padding;
      }
    }
  }

  .top-nav :global(nav) {
    margin: 0;
  }
</style>
