---
import config from "@config";
import "@/styles/global.scss";
import { pwaInfo } from "virtual:pwa-info";
import TopNav from "@/components/TopNav.vue";

interface Props {
  displaySideNav?: boolean;
  sideNavPlace?: "left" | "right";
}

let { displaySideNav, sideNavPlace } = Astro.props as Props;
displaySideNav ??= true;
sideNavPlace ??= "left";
---

<html lang={config.base.lang}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="commit-hash" content={__COMMIT_HASH__} />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <slot name="head" />

    <!-- Themes -->
    <script is:inline>
      // MIT License @antfu https://github.com/antfu/antfu.me
      !(function () {
        var e =
            window.matchMedia &&
            window.matchMedia("(prefers-color-scheme: dark)").matches,
          t = localStorage.getItem("vueuse-color-scheme") || "auto";
        ("dark" === t || (e && "light" !== t)) &&
          document.documentElement.classList.toggle("dark", !0);
      })();
    </script>

    <!-- get 100vh on mobile devices -->
    <script>
      /* Alternative to 100 vh on mobile devices */
      /* https://chanind.github.io/javascript/2019/09/28/avoid-100vh-on-mobile-web.html */
      const get100vh = () => {
        const vh100 = window.innerHeight;
        document.documentElement.style.setProperty("--100vh", `${vh100}px`);
      };
      window.addEventListener("resize", get100vh);
      window.addEventListener("orientationchange", get100vh);
      window.addEventListener("DOMContentLoaded", get100vh);
    </script>

    <!-- PWA inject -->
    <script src="@/scripts/pwa.ts"></script>
    {pwaInfo && <Fragment set:html={pwaInfo.webManifest.linkTag} />}
  </head>

  <body flex="~ col">
    <header mb-15>
      <TopNav client:idle />
    </header>
    <section flex-1 px-6>
      <slot />
    </section>
    <footer></footer>
  </body>

  <style lang="scss">
    body {
      min-height: var(--100vh);
    }
  </style>
</html>
