---
import config from "@config";
import Fonts from "@/components/Fonts.astro";
import "@/styles/global.scss";
---

<html lang={config.base.lang} theme={config.base.theme}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <Fonts />
    <slot name="head" />
  </head>
  <body>
    <div class="center">
      <slot />
    </div>
  </body>
</html>
