---
import BaseLayout from "./BaseLayout.astro";
import TopNav from "@/components/TopNav.astro";
import Footer from "@/components/Footer.astro";
import type { Entry } from "@/pages/posts/[...slug].astro";
import "@/styles/default_post.scss"

interface Props {
  entry: Entry;
}

const { entry } = Astro.props as Props;
export const prerender = true;
---

<BaseLayout>
  <header><TopNav /></header>
  <main>
    <article>
      <h1 class="title">{ entry.data.title || entry.slug }</h1>
      <slot />
    </article>
  </main>
  <footer>
    <footer><Footer /></footer>
  </footer>
</BaseLayout>
