---
import BaseLayout from "./BaseLayout.astro";
import type { Entry } from "@/pages/posts/[...slug].astro";
import "@/styles/default_post.scss"

interface Props {
  entry: Entry;
}

const { entry } = Astro.props as Props;
export const prerender = true;
---

<BaseLayout>
  <article>
    <h1 class="title">{ entry.data.title || entry.slug }</h1>
    <slot />
  </article>
</BaseLayout>
