---
import BaseLayout from "./BaseLayout.astro";
import TopNav from "@/components/TopNav.astro";
import Comments from "@/components/Comments.astro";
import Footer from "@/components/Footer.astro";
import type { CollectionEntry } from "astro:content";
import type { Collection } from "@/content/config";
import "@/styles/default_post.scss";

interface Props {
  entry: CollectionEntry<Collection>;
}

const { entry } = Astro.props as Props;
---

<BaseLayout>
  <header><TopNav /></header>
  <main>
    <article>
      <h1 class="title">{entry.data.title || entry.slug}</h1>
      <slot />
    </article>
    <Comments />
  </main>
  <footer>
    <Footer />
  </footer>
</BaseLayout>
